<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--Push Notification feature google-api -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>

    <!-- below script is taken from app.js file -->
    <script >
      var firebaseConfig = {
        apiKey: "AIzaSyACbtlI7Eeew7LanaKeL6zIAawXdI4sLFQ",
        authDomain: "blog-system-a5.firebaseapp.com",
        projectId: "blog-system-a5",
        storageBucket: "blog-system-a5.appspot.com",
        messagingSenderId: "96955688641",
        appId: "1:96955688641:web:36e8957a0895ec42481640",
        measurementId: "G-360EBM4SKL"
    };
    
    // Initialize Firebase
    const app = firebase.initializeApp(firebaseConfig);
    firebase.analytics();
    const messaging = firebase.messaging();
    
    </script>
   {% if user.is_authenticated%}
    <script>
        function send_ajax_token(token){
            console.log(token);
            
            $.ajax({
                url: "{% url 'send-token' %}",
                method: "POST",
                async: false,
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'registration_id': token,
                    'type': 'web'
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    
        // Get registration token. Initially this makes a network call, once retrieved
        // subsequent calls to getToken will return from cache.
        messaging.getToken({ vapidKey: 'BBers51g1F2KsMx9WXKHbAze8Yaxm_cCJgIfy3uWoK9TxjkqOCRVYF5IeS6B9ov0Cl8H_m9RWCoh4G6bpBLEEIA' })
        .then((currentToken) => {
            if (currentToken) {
                // Send the token to your server and update the UI if necessary
                // ...
                //alert(currentToken);
                send_ajax_token(currentToken);
            } else {
                // Show permission request UI
                console.log('No registration token available. Request permission to generate one.');
                // ...
            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
            // ...
        });
        
        
        messaging.requestPermission()
            .then(function() {
                console.log("Have permission.");
                return messaging.getToken();
            })
            .catch(function(err) {
                console.log("Error Occurred");
            })
        
        //when you on not on the webpage
        messaging.onMessage((payload) => {
            console.log('onMessage recieved: ', payload);
        });
              </script>
            
{% endif  %}

    {% block head %} {% endblock head %}
    {% block title %} {% endblock title %}
 </head>
  <body class="d-flex flex-column min-vh-100">
    {% block navbar %}{% endblock navbar %} 
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="//cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  </body>
</html>