{% extends 'base-page.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>Blog-System</title>
{% endblock title %}
 
{% block navbar %}
  {% include 'navbar.html' %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endblock navbar %}

{% block content %}
{% endblock content %}
  
{% block footer %}
  {% include 'footer.html' %}
{% endblock footer %}
