  {% block navbar %}
  
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Blog-System</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
      </symbol>
    </svg>

  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'homepage' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <h3>Blog-System</h3>
        </a>
        
        <ul class="nav col-12 col-lg-auto me-lg-auto mx-2 justify-content-center mb-md-0">
          <li><a href="{% url 'homepage' %}" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="{% url 'aboutpage' %}" class="nav-link px-2 text-white">About</a></li>
          {% if user.is_authenticated %}
          {% if user.is_author %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Article
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'add-article' %}">Add Article</a></li>
              <li><a class="dropdown-item" href="{% url 'my-article' %}">My Article</a></li>
            </ul>
          </li>
          {% endif %}
            <li><a href="{% url 'liked-articles' %}" class="nav-link px-2 text-white">Liked Articles</a></li>
            <li><a href="{% url 'fav-author' %}" class="nav-link px-2 text-white">Favourite Authors</a></li>
          {% endif %}
        </ul>

        <div class="text-end">
          {% if user.is_authenticated %}
            <a class="btn btn-outline-warning me-2" href="{% url 'show-notification' %}" role="button">Notification</a>
            <a class="btn btn-outline-warning me-2" href="{% url 'profilepage' %}" role="button">Welcome,{{ user.name }}</a>
            <a class="btn btn-warning" href="{% url 'logoutpage' %}" role="button">Logout</a>
          {% else %}
            <a class="btn btn-outline-light me-2" href="{% url 'loginpage' %}" role="button">Login</a>
            <a class="btn btn-warning" href="{% url 'registerpage' %}" role="button">Sign-up</a>
          {% endif %}
          
        </div>
      </div>
    </div>
  </header>

{% endblock navbar %}