{% extends 'base.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}

{% block content %}
  <div class="container my-2">
    <h1>This is a About page - of Blog-system</h1>
  </div>
{% endblock content %}

