{% extends 'base.html' %}
{% block title %} 
    <title>Blog-System-Register</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h1 class="title">Article</h1>
            </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" method="POST" action="." enctype='multipart/form-data'>
               {% csrf_token %}  
                {{ form.as_p }}
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
                </div>
            </form>
            
        </div>
    </div>
</div>   


{% endblock %}