{% extends 'base.html' %}
{% block title %} 
    <title>Blog-System-Register</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h1 class="title">Delete Article - {{ object.title }}</h1>
            </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" method="POST" action=".">
               {% csrf_token %}  
                <h3>Are you sure you want to delete this article?</h3>
                <div class="form-group ">
                    <button type="submit" class="btn btn-danger btn-lg btn-block">Yes delete</button>
                    <a type="button" class='btn btn-secondary btn-lg btn-block' href="{% url 'article-detail' object.slug object.id %}">Cancel</a>
                </div>
            </form>
            
        </div>
    </div>
</div>   


{% endblock %}