{% extends 'base.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>{{ object.title }}</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row border p-3 my-3">
      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <img src="{{ object.cover_image.url }}" class="card-img-top my-2" style="height:50vh;" alt="{{ object.title }}">
            <!-- LIKES -->
          {% if user.is_authenticated %}
          <form action="{% url 'article-like' article.slug article.id %}" method="POST">
            {% csrf_token %}
            {% if liked %}
              <button type="submit" name="article_id" value="{{ article.id }}" class="btn btn-danger bt-sm">Unlike</button>
            {% else %}
              <button type="submit" name="article_id" value="{{ article.id }}" class="btn btn-outline-danger bt-sm">Like</button>
            {% endif %}
          </form>
          {% else %}
          <a class="btn btn-outline-info" href="{% url 'loginpage' %}?next={{ request.path }}">Log in to like this article!</a><br>
          {% endif %}
          <p>{{ likes }}</p>
          </div>
          <div class="col-md-8">
            <div class="card-header">
              {{ object.title }}
            </div>
            <div class="text-end m-2">
              {% if user.is_authenticated and user == object.author %}
                <a class="btn btn-primary" href="{% url 'article-update' object.slug object.id %}" role="button">Update</a>
                <a class="btn btn-danger" href="{% url 'article-delete' object.slug object.id %}" role="button">Delete</a>
              {% endif %}
            </div>
            <h5 class="card-title">By:{{ object.author }} </h5>
            <p></p>
            <p class="card-text">Descrption: {{ object.description }}</p>
          </div>
          <br/>
          <hr class="my-2">
          <div class="container">
            <h5>Comments</h5>
            {% if user.is_authenticated %}
            <form action="{% url 'article-comment' article.slug article.id %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" id="inputAddress" name="comment" placeholder="Hi {{ user }}, enter your comment?" required>
              </div>
              <button type="submit" name="article_id" value="{{ article.id }}" class="btn btn-primary my-2 align-end">Post Comment</button>
            </form>
            {% else %}
          <a class="btn btn-outline-info" href="{% url 'loginpage' %}?next={{ request.path }}">Log in to comment this article.</a><br>
          {% endif %}
          </div>
          <br/>
          <hr class="my-2">
          <div class="container">
            <p>
              <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Load more comments
              </a>
            </p>
            <div class="" id="collapseExample">
              {% for comment in comments %}
                <div class="card card-body">
                  <h5>{{ comment.user }}</h5>
                  <p>{{ comment.text }}</p>
                </div>
              {% endfor %}
              
            </div>
          </div>
          <div class="card-footer text-muted text-end">
            Last Updated on: {{ object.updated_at|date }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}

