{% extends 'base.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
    <div class="col-md-12 mt-2">
      <h2>{{ author }} All Articles</h2><hr>
      <table class="table" border="1">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Category</th>
            <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for article in allArticles %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.category }}</td>
            <td><a href="{% url "article-detail" article.slug article.id %}">View</a></td>
            </tr>
            {% empty %}
              <p>No articles</p>
            {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
{% endblock content %}

