{% extends 'base.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>Favourite Authors</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
    <div class="col-md-12 mt-2">
      <h2>Favourite Authors</h2><hr>
      <table class="table" border="1">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Author Name</th>
            <th scope="col">Author bio</th>
            <th scope="col">Followed on</th>
            <th scope="col">Articles</th>
          </tr>
        </thead>
        <tbody>
          {% for author in authors %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ author.author.name }}</td>
            <td>{{ author.author.bio }}</td>
            <td>{{ author.created_at|date }}</td>
            <td><a type="button" href="{% url 'all-article' author.author.name author.author.id %}">All articles</a></td>
          </tr>
          {% empty %}
          <tr>No records found</tr>
          {% endfor %}
        </tbody>
      </table>
      <ol>
      
    </div>
  </div>
{% endblock content %}

