{% extends 'base.html' %}

{% block head %} 
{% endblock head %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}

{% block content %}
<div class="container px-4 pt-4">
  <center>
    <form action="." method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search for Author name or Article" name='search' aria-label="Search">
      <button class="btn btn-outline-success my-2" type="submit">Search</button>
    </form>
  </center>
</div>
{% if search %}
  <div class="container py-4">
    <h3>Search Results For: "{{ search }}"</h3>
  <div>
{% endif %}
  <div class="container">
    <div class="row">
    <div class="col-md-8 mt-2">
      <h2>Recent Articles</h2><hr>
      {% for article in articles %}
      {% if article.action == "Publish" %}
      <div class="row border rounded p-1 my-2 ">
        <div class="col-md-4">
          <img src="{{ article.cover_image.url }}" class="card-img-top" alt="{{ article.title }}">
        </div>
        <div class="col-md-8"> 
          <h5 class="card-title">{{ article.title }}</h5>
          <p>By:{{ article.author }}</p>
          <a type="button" href="{% url 'article-detail' article.slug article.id %}">Read More</a>
        </div>  
        <div class="card-footer text-end">
          <p><small class="text-muted">Last Updated on: {{ article.updated_at|date }}</small></p>
        </div>    
      </div>
      {% endif %}
      {% empty %}
        <p>No Articles</p>
      {% endfor %}
    </div>
    <div class="col-md-4 mt-3">
      <h4>Authors</h4><hr>
      {% for author in authors %}
      <div class="card m-2">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img class="card-img" src="{{ author.profile_image.url }}" alt="{{ author }}">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">{{ author }}</h5>
                    <p class="card-text">{{ author.bio }}</p>
                    {% if user.is_authenticated %}
                      <form action="{% url 'author-follow' author.id %}" method="POST">
                        {% csrf_token %}
                        {% if followed %}
                          <button type="submit" name="author_id" value="{{ author.id }}" class="btn btn-danger bt-sm">Unfollow</button>
                        {% else %}
                          <button type="submit" name="author_id" value="{{ author.id }}" class="btn btn-outline-danger bt-sm">Follow</button>
                        {% endif %}
                      </form>
                      {% else %}
                      <a class="btn btn-outline-info" href="{% url 'loginpage' %}?next={{ request.path }}">Log in to follow</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <p>No Authors</p>
      {% endfor %}
    </div>   
  </div>
  </div>
 
{% endblock content %}

