{% extends 'base.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>Liked Articles</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
    <div class="col-md-12 mt-2">
      <h2>Liked Articles</h2><hr>
      <table class="table" border="1">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Article Title</th>
            <th scope="col">Author</th>
            <th scope="col">Liked on</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ article.article.title }}</td>
            <td>{{ article.article.author }}</td>
            <td>{{ article.created_at }}</td>
            <td><a type="button" href="{% url 'article-detail' article.article.slug article.article.id %}">Read article</a></td>
          </tr>
          {% empty %}
          <tr>No records found</tr>
          {% endfor %}
        </tbody>
      </table>
      <ol>
      
    </div>
  </div>
{% endblock content %}

