{% extends 'base.html' %}
{% block title %} 
    <title>Update Password</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel-heading">
           <div class="panel-title text-center">
                   <h1 class="title">Update Password</h1>
            </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action=".">
                {% csrf_token %} 
                {{ form.as_p }} 
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>   
{% endblock %}