{% extends 'base.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}

{% block content %}
    <h1>This is a Home page - member</h1>
{% endblock content %}

