{% extends 'base.html' %}
{% block title %} 
    <title>Blog-System-Login</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel-heading">
           <div class="panel-title text-center">
                   <h1 class="title">Login </h1>
            </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" method="post" action="#">
                {% csrf_token %}  
                {{ form.as_p }}
                <div class="login-register">
                    <a href="{% url 'password_reset' %}">Forget Password?</a>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">SignIn</button>
                </div>
            </form>
                
            
            <div class="login-register">
                Don't have an account? <a href="{% url 'registerpage' %}">Create new account</a>
             </div>
        </div>
    </div>
</div>   


{% endblock %}