{% extends 'base.html' %}
{% block title %} 
    <title>Blog-System-Login</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <div class="alert alert-info">
        Your password is successfully changed.
    </div>
    <a href="{% url 'loginpage' %}">Sign in here</a>
</div>   


{% endblock %}