{% extends 'base.html' %}
{% block title %} 
    <title>Blog-System-Login</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <div class="alert alert-info">
        An email has been sent with instructions to reset password. Please check your email.
    </div>
</div>   

{% endblock %}