{% extends "base.html" %}

{% block content %}
    <div class="container mx-3 px-3">
        <div class="row">
            <div class="col-md-8 p-3">
                <h3>Profile Page</h3>
                <div class="form-check">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    
                {% if user.is_authenticated and user.is_verified %}
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ user.email }}" disabled>  
                    <p> Verified account</p>
                {% else %}
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ user.email }}" disabled>  
                    <p> Please verify your account account</p>
                {% endif %}
                </div>
                <form class="form-horizontal" method="POST" action="." enctype='multipart/form-data'>
                    {% csrf_token %}  
                     {{ form.as_p }}
                     <div class="form-group ">
                         <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Update</button>
                     </div>
                 </form>
            </div>
        </div>
    </div>

{% endblock content %}