{% extends 'base.html' %}
{% block title %} 
    <title>Blog-System-Register</title>
{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel-heading">
           <div class="panel-title text-center">
                <h1 class="title">Create new Account </h1>
            </div>
        </div> 
        <div class="main-login main-center">
            <form class="form-horizontal" method="POST" action=".">
               {% csrf_token %}  
                {{ form.as_p }}
                <div class="form-group ">
                    <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                </div>
            </form>
            <div class="login-register">
                Already have an account? <a href="{% url 'loginpage' %}">Login</a>
             </div>
        </div>
    </div>
</div>   


{% endblock %}