{% extends 'base.html' %}

{% block head %} {% endblock head %}

{% block title %}
  <title>{{ title }}</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
    <form action="." method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary mt-2">Mark all as-read</button>
    </form>
    <div class="col-md-12 mt-2">
      <h2>All Notifications</h2><hr>
      <table class="table" border="1">
        <thead>
            <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Seen</th>
            <th>Date|Time</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ notification.title }}</td>
            <td>{{ notification.text }}</td>
            <td>{{ notification.is_seen }}</td>
            <td>{{ notification.created_at }}</td>
            </tr>
            {% empty %}
              <p>No notifications</p>
            {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
{% endblock content %}

